<section class="advantages">
    <div class="container">

        <div class="advantages-title">Плюсы наших масок</div>
        <div class="advantages-items">
            <div class="advantages-item item-one  wow bounceInLeft">
                <div class="advantages-item-text">
                    Разработаны и изготовлены по мировым стандартам
                </div>
            </div>
            <div class="advantages-item item-two  wow bounceInLeft">
                <div class="advantages-item-text">
                    Особая конструкция гарантирует плотное прилегание маски к лицу
                </div>
            </div>
            <div class="advantages-item item-three  wow bounceInRight">
                <div class="advantages-item-text">
                    Большая поверхность фильтрации обеспечивает качественную очистку воздуха
                </div>
            </div>
            <div class="advantages-item item-four  wow bounceInLeft">
                <div class="advantages-item-text">
                    Материал хорошо отводит влагу. Сохраняет легкость дыхания
                </div>
            </div>
            <div class="advantages-item item-fifth  wow bounceInDown">
                <div class="advantages-item-text">
                    Маска не накапливает статическое электричество и не вызывает аллергии
                </div>
            </div>
            <div class="advantages-item item-six  wow bounceInRight">
                <div class="advantages-item-text">
                    Наши маски намного выгоднее одноразовых масок
                </div>
            </div>
        </div>


    </div>
</section>