<section class="benefit">
    <div class="container">
        <div class="benefit-collumns">
            <div class="benefit-collumn-left wow bounceInLeft">
                <div class="benefit-collumn__title">Траты на маски В 5 РАЗ меньше, чем на одноразовые </div>
                <div class="benefit-collumn-description">
                    <div class="benefit-collumn-description__image"><img src="img/tick.png" alt="tick"></div>
                    <div class="benefit-collumn-description__text">Подходят для повседневного ношения
                    </div>
                </div>
                <div class="benefit-collumn-description">
                    <div class="benefit-collumn-description__image"><img src="img/tick.png" alt="tick"></div>
                    <div class="benefit-collumn-description__text">Изготовлены по международным стандартам
                    </div>
                </div>
                <div class="benefit-button">
                    <div class="header-content-button">
                        <a href="#">Заказать маски</a>
                    </div>
                </div>
            </div>
            <div class="benefit-collumn-right">
                <div class="header-price benefit-price wow bounceInRight">
                    <div class="header-price-text">
                        <div class="old-price">1400Р</div>
                        <div class="new-price">750Р</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>