<footer>
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <div class="logo__img"><img src="img/logo.jpg" alt="logo"></div>
                <div class="logo__text">Маска++</div>
            </div>
            <div class="header-info">
                <div class="header-info-item">
                    <div class="header-info-item__image"><img src="img/files.jpg" alt="files"></div>
                    <div class="header-info-item__text item1">Полный пакет документов
                    </div>
                </div>
                <div class="header-info-item">
                    <div class="header-info-item__image"><img src="img/box.jpg" alt="box"></div>
                    <div class="header-info-item__text item2">Доставка оптом в любой город России</div>
                </div>
                <div class="header-info-item ">

                    <div class="header-info-item__text item3">Принимаем заказы круглосуточно</div>
                </div>
            </div>
            <div class="header__button">
                <a href="#">Заказать маски с доставкой</a>
            </div>

        </div>


</footer>