<section class="how-to-order">
    <div class="container">
        <div class="how-to-order__title wow bounceInLeft">
            КАК ЗАКАЗАТЬ многоразовую МАСКУ?
        </div>
        <div class="how-to-order-collumns">
            <div class="how-to-order-collumn-left">
                <div class="step">
                    <div class="how-to-order-step__image wow bounceInLeft"><img src="img/01.png" alt="step1"></div>
                    <div class="how-to-order-step__text wow bounceInRight">Оформление заявки на сайте</div>
                </div>
                <div class="step">
                    <div class="how-to-order-step__image wow bounceInLeft"><img src="img/02.png" alt="step2"></div>
                    <div class="how-to-order-step__text wow bounceInRight">С вами связывается специалист и уточняет детали доставки</div>
                </div>
                <div class="step">
                    <div class="how-to-order-step__image wow bounceInLeft"><img src="img/03.png" alt="step3"></div>
                    <div class="how-to-order-step__text wow bounceInRight">Курьер приезжает в оговоренное время и доставляет маску</div>
                </div>
                <div class="step">
                    <div class="how-to-order-step__image wow bounceInLeft"><img src="img/04.png" alt="step4"></div>
                    <div class="how-to-order-step__text wow bounceInRight">Вы примеряете и проверяете ее</div>
                </div>
                <div class="step">
                    <div class="how-to-order-step__image wow bounceInLeft"><img src="img/05.png" alt="step5"></div>
                    <div class="how-to-order-step__text wow bounceInRight">Оплата заказа</div>
                </div>
            </div>
            <div class="how-to-order-collumn-right">
                <div class="header-price how-to wow bounceInRight">
                    <div class="header-price-text">
                        <div class="old-price">1400Р</div>
                        <div class="new-price">750Р</div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>